.rows {
  padding: 24px;
}

.row {
  display: flex;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 3px;
}

.row:hover {
  border: 2px solid lightgreen;
}

.row .column {
  flex: 1;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 3px;
}

.row .column:hover {
  border: 2px solid lightcoral;
}