.sidebar {
  position: absolute;
  height: 100%;
  width: 200px;
  background: white;
  right: -224px;
  top: 0;
  transform: translateX(0);
  transition: transform 0.2s ease;
  z-index: 100;
}

.sidebar.open {
  transform: translate(-224px);
}

.sidebar .close-btn {
  position: absolute;
  height: 24px;
  width: 24px;
  background: lightblue;
  color: white;
  left: -24px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  font-size: 18px;
}

.sidebar .title {
  padding: 6px;
  background: lightblue;
  color: white;
  font-size: 18px;
}

.sidebar .options {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 12px;
  padding: 12px;
}

.sidebar .option {
  height: 80px;
  width: 80px;
  background: #f5f5f5;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  transform: rotate(0);
  transition: transform 0.2s;
  box-shadow: 0px 0px 4px 2px #eceaea
}

.sidebar .option:hover {
  transform: rotate(10deg);
}