.element.empty {
  background-color: #ffcccc;
  padding: 6px 0;
  border-radius: 3px;
  border: 1px solid lightcoral;
}

.element.empty button {
  cursor: pointer;
  font-size: 16px;
  background: lightcoral;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid lightcoral;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition: background 0.2s, color 0.2s;
}

.element.empty button:hover {
  background: white;
  color: lightcoral;
}