.element {
  padding: 6px 0;
}

.element.empty {
  background-color: #ffcccc;
  padding: 6px 0;
  border-radius: 3px;
  border: 1px solid lightcoral;
}

.element.empty.element-dragged {
  border: 3px dashed lightcoral;
}

.element.empty button {
  cursor: pointer;
  font-size: 16px;
  background: lightcoral;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid lightcoral;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition: background 0.2s, color 0.2s;
}

.element.empty button:hover {
  background: white;
  color: lightcoral;
}

.element:hover .element-options {
  z-index: inherit;
}

.element .element-options {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  cursor: pointer;
  z-index: -1;
  background: lightcoral;
  color: white;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px 0 0 3px;
}

.element .element-options > svg {
  padding: 0 8px;
  border-right: 1px solid;
}

.element .element-options > svg:last-child {
  border-right: none;
}