.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App .header {
  height: 72px;
  background: rgb(32, 158, 231);
  line-height: 72px;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.App .editor {
  height: calc(100% - 72px);
  width: 100%;
  background: white;
}

.custom-button {
  cursor: pointer;
  font-size: 16px;
  background: lightcoral;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid lightcoral;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px;
  transition: background 0.2s, color 0.2s;
}

.custom-button:hover {
  background: white;
  color: lightcoral;
}
