.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App .header {
  height: 72px;
  background: white;
}

.App .editor {
  height: calc(100% - 72px);
  width: 100%;
  background: lightblue;
}
